{% comment %}
  Metadata line for a writeup: challenge categories and the competition date.

  Usage: {% include writeup-meta.html writeup=page %}
         {% include writeup-meta.html writeup=item %}
{% endcomment %}

<small class="small  post-meta">
  {%- if include.writeup.categories -%}
    {%- for category in include.writeup.categories -%}
      <span class="label  label--category">{{ category }}</span>{% unless forloop.last %}, {% endunless %}
    {%- endfor -%}
    &nbsp;&middot;&nbsp;
  {%- endif -%}
  <time datetime="{{ include.writeup.date | date_to_xmlschema }}" class="time">{{ include.writeup.date | date_to_string }}</time>
</small>
